{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

</head>
<body>

<div class="container">
    <form method="POST" class="card">
        {% csrf_token %}

        <h2>Reset Password</h2>

        {{ form.email }}

        <button type="submit" class="btn">Send Reset Link</button>

        <p>
            <a href="{% url 'login' %}" class="back-btn">← Back to Login</a>
        </p>
    </form>
</div>

</body>
</html>