{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

</head>

<body>

<div class="container">
    <div class="card">
        <h2>✔ Password Reset Successful</h2>
        <p>Your password has been updated successfully.</p>

        <a href="{% url 'login' %}" class="btn go_to_login">Go to Login</a>
    </div>
</div>

</body>
</html>