{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
  
</head>

<body>
<div class="container">
    <div class="card">
        <h2>Welcome, {{ request.user.username }}</h2>

        <p>You are successfully logged in.</p>

        <a href="{% url 'logout' %}" class="btn logout_btn">Logout</a>
    </div>
</div>
</body>
</html>